.FeedbackOptions {
  &__button {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: aqua;
    border-radius: 5px;
  }

  &__button:not(:last-child) {
    margin-right: 20px;
  }
}
